@keyframes titulo {
    0% {
        background-color: rgb(78, 194, 248, 0);
        transform: translateY(-100vh) scaleY(2);
    }
    40% {
        transform: translateY(40vh) scaleY(0.5);
    }
    60% {
        transform: translateY(-5vh) scaleY(1.2);
    }
    80% {
        background-color: rgb(78, 194, 248, 0);
        transform: translateY(0) scale(1);
    }
    100% {
        background-color: rgb(78, 194, 248, 0.8);
    }
}

main div {
    animation-name: titulo;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-duration: 3s;
}

