main {
    display: flex;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Debi-e-Loide.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -200px;
    justify-content: center;
    align-items: center;
}

main div {
    background-color: rgb(78, 194, 248, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}

main div h1 {
    font-size: 5vmax;
}

main div h2 {
    font-size: 2.6vmax;
}

@media screen and (min-width: 600px) {
    main {
        background-position-x: 0;
    }
}